name: .NET Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore PSEngagementSystem/src/PSEngagementSystem.csproj

      - name: Build
        run: dotnet build PSEngagementSystem/src/PSEngagementSystem.csproj -c Release --no-restore

      - name: Test
        run: dotnet test PSEngagementSystem/tests/PSEngagementSystem.Tests.csproj -c Release --no-build
